@font-face {
    font-family: "gaelicFont";
    src: url('../assets/IrishuncialfabetaBold-2OEBd.ttf');
}

body {
    font-family: "helvetica";
    margin: 0;
    /* background: url('../assets/celtic-ornament_1159-3654.avif'); */
    background-repeat: repeat;
    padding-bottom: 10%;
}

#wrapper {
    height: 100%;
    /* background-color: rgba(211, 211, 211, 60%); */
    
}

hr {
    border: 0;
    height: 1px;
    background: rgb(213, 213, 213);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 10%;
}

.navContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.tabs {
    display: flex;
    gap: 5%;
    width: 100%;
    justify-content: center;
}

.tabs a {
    text-decoration: none;
    color: inherit;
}

.tabs .selected {
    text-decoration: underline;
}

.logo {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 25%;
    height: auto;
}

.title {
    font-size: 3em;
    font-family: gaelicFont;

}


#content {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.intro {
    padding-top: 3%;
    padding-bottom: 3%;
}

.address-line-1 {
    font-size: 1.5em;
}

.slideshow {
    display: flex;
    width: 60%;
    justify-content: center;
    padding: 10px;
    background: lightgrey;
}

.slideshow img {
    width: 100%;
    height: auto;
}

.hoursContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
}

.hoursHeader {
    font-weight: bold;
    font-size: 2em;
}

.hoursBold {
    font-weight: bold;
}


.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menuHeader {
    font-weight: bold;
    font-size: 2.5em;
}

.menuSection {
    font-weight: bold;
    font-size: 1.8em;
    margin-top: 15%;
}

.menuItemName {
    font-weight: bold;
    /* margin-top: 10px; */
}

.visitUsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.visitUsHeader {
    font-weight: bold;
    font-size: 2em;
}

.addressLine {
    font-weight: bold;
    margin-top: 10px;
}

.phoneAndEmailLine {
    font-weight: bold;
    margin-top: 10px;
}

/* 
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
} */

